<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <!--
      <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ashirafzal\source\repos\FoodMazaPos\FoodMazaPos\Data\FoodMaza.mdf;Integrated Security=True;MultipleActiveResultSets=True;"/>
      -->
      <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\FoodMaza2.mdf;Database=FoodMaza2;User Instance=False;Integrated Security=True;MultipleActiveResultSets = True;"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>